@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="red mainHeader">Добре дошли в сервиза за климатична и хладилна техника "ЕТ Христо Малаков"</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr class="custom-navs">
                <th>Ремонти</th>
                <th>Изделия</th>
                <th>Части</th>
                @{
                    if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        @Html.Partial("Administrator_Partial_1")
                    }
                }
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Отиди на секцията за ремонти", "AllRepairs", "Repairs", null, new { @class = "btn btn-primary button1" })
                </td>

                <td>
                    @Html.ActionLink("Отиди на секцията за изделия", "AllItems", "Items", null, new { @class = "btn btn-success button1" })
                </td>

                <td>
                    @Html.ActionLink("Отиди на секцията за части", "AllParts", "Parts", null, new {@class = "btn btn-warning button1"})
                </td>

                @{
                    if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        @Html.Partial("Administrator_Partial_2")
                    }
                }
            </tr>
        </table>
    </div>
</div>