@using RefregeratorRepairSystem.Models.ViewModels.Customers;
@model IEnumerable<ListCustomerViewModel>

@{
    ViewBag.Title = "Administrator Page";
}

<h1>Списък с всички клиенти</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr class="custom-navs">
                <th>
                    @Html.DisplayNameFor(m => m.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Address)
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        <a class="btn btn-success" href="createEmployee/@item.Id">Create an employee</a>
                    </td>
                </tr>
            }
        </table>
            @Html.Partial("~/Areas/Administrator/Views/Button_Central_Partial.cshtml")
    </div>
</div>

