@using RefregeratorRepairSystem.Models.ViewModels.Items
@model DeleteItemViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Изтрий това изделие</h1>

@using (Html.BeginForm())
{
    <div>
        <table class="table table-striped special-table">
            <tr class="custom-navs">
                <th></th>
                <th>
                    @Html.DisplayNameFor(m => m.Type)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Make)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Model)
                </th>

                <th>
                    Сигурен ли сте че искате да изтриете това изделие?
                </th>
            </tr>

            <tr>
                <td>
                    @Html.HiddenFor(model => model.Id, new {htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
                </td>

                <td>
                    @Html.EditorFor(model => model.Type, new {htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
                </td>

                <td>
                    @Html.EditorFor(model => model.Make, new {htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
                </td>

                <td>
                    @Html.EditorFor(model => model.Model, new {htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
                </td>

                <td>
                    <input type="submit" class="btn btn-danger button2" value="Изтрий изделието"/>
                    <a class="btn btn-success button2" href="~/Items/AllItems">Върни се на страницата с изделията</a>
                </td>
            </tr>
        </table>
    </div>
}