@using RefregeratorRepairSystem.Models.ViewModels.Items
@model DetailedItemVIewModel

@{
    ViewBag.Title = "Details";
}

<h1>Детайли за изделие номер <span class="red">@Model.Id</span></h1>

<div class="custom-divs">
    <table class="table table-striped special-table">
        <tr class="custom-navs">
            <th>
                @Html.DisplayNameFor(m => m.Type)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Make)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Model)
            </th>
        </tr>

        <tr>
            <td>
                @Html.EditorFor(model => model.Type, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>

            <td>
                @Html.EditorFor(model => model.Make, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>

            <td>
                @Html.EditorFor(model => model.Model, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>
        </tr>
    </table>
</div>

<div class="custom-divs">
    <table class="table table-striped special-table">
        <tr class="custom-navs">
            @{
                int count = 1;
                foreach (var part in Model.Parts)
                {
                    <th>Part @count</th>
                    count++;
                }
            }
        </tr>

        <tr>
            @{
                foreach (var part in Model.Parts)
                {
                    <td>
                        <p>@part.Name</p>
                    </td>
                }
            }
        </tr>
    </table>
</div>

@Html.ActionLink("Назад", "AllItems", "Items", null, new { @class = "btn btn-success button4" })
@Html.ActionLink("Редактиране", "Edit", "Items", new { id = Model.Id }, new { @class = "btn btn-primary button4" })
@Html.ActionLink("Изтриване", "Delete", "Items", new { id = Model.Id }, new { @class = "btn btn-danger button4" })
