@using RefregeratorRepairSystem.Models.ViewModels.Items
@model EditItemViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Редактирай съществуващо изделие</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(false, "", new {@class = "red"})

        @Html.HiddenFor(model => model.Id, new {htmlAttribute = new {@name = "Id"}})

        @Html.LabelFor(model => model.Type)
        @Html.EditorFor(model => model.Type, new {htmlAttribute = new {@class = "form-control", @disable = "disable", @readonly = "readonly", @name = "Type"}})

        @Html.LabelFor(model => model.Make)
        @Html.EditorFor(model => model.Make, new {htmlAttribute = new {@class = "form-control", @name = "Make"}})

        @Html.LabelFor(model => model.Model)
        @Html.EditorFor(model => model.Model, new {htmlAttribute = new {@class = "form-control", @name = "Model"}})

        <div>
            <input type="submit" class="btn btn-danger button3" value="Редактирай това изделие"/>
            @Html.ActionLink("Върни се на страницата с изделията", "AllItems", "Items", null, new {@class = "btn btn-success button3"})
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}