@using RefregeratorRepairSystem.Models.ViewModels.Items
@model EditItemViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Редактирай съществуващо изделие</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id, new { htmlAttribute = new {@name = "Id"} })

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type, new { htmlAttribute = new { @class = "form-control", @disable = "disable", @readonly = "readonly", @name="Type"} })

    @Html.LabelFor(model => model.Make)
    @Html.EditorFor(model => model.Make, new { htmlAttribute = new { @class = "form-control", @name = "Make" } })
    @Html.ValidationMessageFor(r => r.Make, "Make name must be at least 3 symbols long", new { @class = "red" })

    @Html.LabelFor(model => model.Model)
    @Html.EditorFor(model => model.Model, new { htmlAttribute = new { @class = "form-control", @name = "Model" } })
    @Html.ValidationMessageFor(r => r.Model, "Model name must be at least 3 symbols long", new { @class = "red" })

    <div>
        <input type="submit" class="btn btn-danger button3" value="Редактирай това изделие" />
        <a class="btn btn-success button3" href="~/Items/AllItems">Върни се на страницата с изделията</a>
    </div>
}