@using RefregeratorRepairSystem.Models.ViewModels.Parts
@model DeletePartViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Изтрий тази част</h1>

@using (Html.BeginForm())
{
    <div>
        <table class="table table-striped special-table">
            <tr class="custom-navs">
                <th></th>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Model)
                </th>

                <th>
                    Сигурен ли сте че искате да изтриете тази част?
                </th>
            </tr>

            <tr>
                <td>
                    @Html.HiddenFor(model => model.Id, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(model => model.Model, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
                </td>

                <td>
                    <input type="submit" class="btn btn-danger button2" value="Изтрий частта" />
                    <a class="btn btn-success button2" href="~/Parts/AllParts">Върни се на страницата с частите</a>
                </td>
            </tr>
        </table>
    </div>
}