@using RefregeratorRepairSystem.Models.ViewModels.Parts
@model DetailedPartViewModel

@{
    ViewBag.Title = "Details";
}

<h1>Детайли за част номер <span class="red">@Model.Id</span></h1>

<div class="custom-divs">
    <table class="table table-striped special-table">
        <tr class="custom-navs">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Model)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Quantity)
            </th>
        </tr>

        <tr>
            <td>
                @Html.EditorFor(model => model.Name, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>

            <td>
                @Html.EditorFor(model => model.Model, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>

            <td>
                @Html.EditorFor(model => model.Price, new {htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
            </td>

            <td>
                @Html.EditorFor(model => model.Quantity, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
            </td>
        </tr>
    </table>
</div>

<div class="custom-divs">
    <table class="table table-striped special-table">
        <tr class="custom-navs">
            @{
                int count = 1;
                foreach (var item in Model.Items)
                {
                    <th>Item @count</th>
                    count++;
                }
            }
        </tr>

        <tr>
            @{
                foreach (var item in Model.Items)
                {
                    <td>
                        <p>@item.ItemDescription</p>
                    </td>
                }
            }
        </tr>
    </table>
</div>

@Html.ActionLink("Назад", "AllParts", "Parts", null, new { @class = "btn btn-success button4" })
@Html.ActionLink("Редактиране", "Edit", "Parts", new { id = Model.Id }, new { @class = "btn btn-primary button4" })
@Html.ActionLink("Изтриване", "Delete", "Parts", new { id = Model.Id }, new { @class = "btn btn-danger button4" })
